@model IEnumerable<AidCare6.Models.events>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.eventsLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eventsDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.eventsLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eventsDateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.eventsID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.eventsID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.eventsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
